name: Build

permissions: { }
on:
  workflow_dispatch:
  release:
    types: [ released ]
  
  push:
    branches:
      - 'main'
      - 'feature/**'
      - 'patch/**'

jobs:
  
  SetupBuildInfo:
    runs-on: ubuntu-latest
    outputs:
      build-name: ${{ steps.SetupBuildInfo.outputs.build-name }}
      build-id: ${{ steps.SetupBuildInfo.outputs.build-id }}
      build-version: ${{ steps.SetupBuildInfo.outputs.build-version }}
      build-timestamp: ${{ steps.SetupBuildInfo.outputs.build-timestamp }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: SetupBuildInfo
        id: SetupBuildInfo
        run: dotnet run --project _atom/_atom.csproj SetupBuildInfo --skip --headless
  
  Pack:
    strategy:
      matrix:
        job-runs-on: [ windows-latest, ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.job-runs-on }}
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Pack
        id: Pack
        run: dotnet run --project _atom/_atom.csproj Pack --skip --headless
        env:
          job-runs-on: ${{ matrix.job-runs-on }}
          build-slice: ${{ matrix.job-runs-on }}
      
      - name: Upload DecSm.Tools.ArtifactClean
        uses: actions/upload-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-${{ matrix.job-runs-on }}
          path: "${{ github.workspace }}/.github/publish/DecSm.Tools.ArtifactClean"
  
  PushToNuget:
    needs: [ Pack ]
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Download DecSm.Tools.ArtifactClean
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-windows-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Tools.ArtifactClean"
      
      - name: Download DecSm.Tools.ArtifactClean
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-ubuntu-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Tools.ArtifactClean"
      
      - name: Download DecSm.Tools.ArtifactClean
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-macos-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Tools.ArtifactClean"
      
      - name: PushToNuget
        id: PushToNuget
        run: dotnet run --project _atom/_atom.csproj PushToNuget --skip --headless
        env:
          nuget-push-api-key: ${{ secrets.NUGET_PUSH_API_KEY }}
  
  PushToRelease:
    needs: [ Pack, SetupBuildInfo ]
    runs-on: ubuntu-latest
    if: contains(needs.SetupBuildInfo.outputs.build-version, '-') == false
    permissions:
      contents: write
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Download DecSm.Tools.ArtifactClean
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-windows-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Tools.ArtifactClean"
      
      - name: Download DecSm.Tools.ArtifactClean
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-ubuntu-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Tools.ArtifactClean"
      
      - name: Download DecSm.Tools.ArtifactClean
        uses: actions/download-artifact@v4
        with:
          name: DecSm.Tools.ArtifactClean-macos-latest
          path: "${{ github.workspace }}/.github/artifacts/DecSm.Tools.ArtifactClean"
      
      - name: PushToRelease
        id: PushToRelease
        run: dotnet run --project _atom/_atom.csproj PushToRelease --skip --headless
        env:
          build-version: ${{ needs.SetupBuildInfo.outputs.build-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
